{% extends 'base.html' %}

{% block head_title %}
{{ block.super }} - Profile
{% endblock head_title %}

{% block content %}
<h1 class="text-lg font-medium">
    {{ instance.username }}
</h1>

{% if perms.auth or owner %}
    {% if perms.auth.view_user or owner %}
        <div>
        FirstName: {{ instance.first_name }}
        LastName: {{instance.last_name}}
        Last Login: {{instance.last_login}}
        </div>
    {% else %}
        <div>You are not allowed to view user data</div>
    {% endif %}
{% endif %}
{% endblock content %}
